<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 400px"></div>

<!-- nav -->

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form
      action="/campgrounds"
      method="GET"
      class="d-flex"
      id="campground-search"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="search"
      />
      <button class="btn btn-outline-success ml-auto" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="row">
  <% for(let campground of campgrounds) {%>
  <div class="col-sm-12 col-md-6 col-lg-4 d-flex align-items-stretch">
    <div class="card indexCards shadow border-0 w-100 mt-4">
      <a href="/campgrounds/<%= campground._id %>">
        <% if(campground.images.length){%>
        <img
          src="<%= campground.images[0].url %>"
          alt=""
          class="card-img-top img-fluid"
        />
        <% } else{ %>
        <img
          src="https://res.cloudinary.com/douqbebwk/image/upload/v1600060601/YelpCamp/ahfnenvca4tha00h2ubt.png"
          alt=""
          class="card-img-top img-fluid"
        />
        <% } %>
      </a>
      <div class="card-body">
        <h5 class="card-title text-capitalize">
          <a
            style="text-decoration: none"
            href="/campgrounds/<%= campground._id %>"
            ><%= campground.title %></a
          >
          <small class="float-right text-muted">$<%= campground.price%></small>
        </h5>

        <p class="card-text">
          <small class="text-muted"><%= campground.location %></small>
        </p>
      </div>
    </div>
  </div>
  <% } %>
</div>

<script>
  const mapToken='<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features:<%-JSON.stringify(campgrounds)%>}
</script>

<script src="/javascripts/clusterMap.js"></script>
